--extra-index-url https://download.pytorch.org/whl/cu124
conformer
deepspeed
diffusers
gdown
gradio
grpcio
grpcio-tools
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
networkx
omegaconf
onnxruntime-gpu
openai-whisper
protobuf
pydantic
rich
soundfile
tensorboard
torch
torchaudio
wget
fastapi
fastapi-cli
WeTextProcessing
opencc-python-reimplemented
g2pw
pyarrow
datasets

https://www.modelscope.cn/models/speech_tts/speech_kantts_ttsfrd/resolve/master/ttsfrd_dependency-0.1-py3-none-any.whl
https://www.modelscope.cn/models/speech_tts/speech_kantts_ttsfrd/resolve/master/ttsfrd-0.3.9-cp310-cp310-linux_x86_64.whl

